.carousel-container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 64px;
}

.carousel {
    padding: 32px 128px;
    position: relative;
    overflow: hidden;
}

.carousel::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(330deg, rgba(252, 236, 154, 0.35) 17.49%, rgba(166, 155, 101, 0) 29.41%);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.6s ease, transform 0.6s ease-in-out;
}

.carousel .user-info.enter {
    opacity: 1;
    transform: translateX(0);
    animation: slideLeft 0.6s ease-in-out;
}

.carousel .user-info.leave {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideOut 0.6s ease-in-out;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0.6;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.user-testimonial {
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 24px;
    background: linear-gradient(156.62deg, #FFFFFF -0.86%, #999999 85.71%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 24px;
}

.user-info img {
    height: 64px;
    width: auto;
    margin-bottom: 16px;
}

.username {
    color: white;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 4px;
    letter-spacing: 1px;
}

.user-job {
    color: #E2D285;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.carousel-control {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.carousel-dot {
    width: 8px;
    height: 8px;
    background: #D9D9D9;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel-dot.active {
    background: #F5E390;
}