* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #111111;
}

body {
  background-color: var(--background-color);
}

.App {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-VariableFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
